@use "./../foundation/global" as *;

.l-footer {
  background-color: $c-base;
  color: $c-white;
  padding-top: 16rem;

  display: grid;
  grid-template-columns: 1fr 360px $size8 360px 1fr;
  & > * {
    grid-column: 2/5;
  }

  &__logo {
    padding-bottom: 4rem;
  }

  &__address {
    grid-column: 2/4;
    font-size: 1.2rem;
    line-height: 1.8em;
    a[href^="tel:"] {
      pointer-events: none;
    }
  }
  &__menu {
    grid-column: 4/4;
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
  }
  &__item {
    flex-basis: 50%;
    padding-bottom: 2rem;
    padding-left: 11rem;
    width: 120px;
    text-align: left;
  }
  &__menu-text {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    font-family: $f-en;
    font-weight: normal;
    &:before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      background: $c-main;
      border-radius: 50%;
      position: absolute;
      top: 0.3rem;
      left: -1.1rem;
    }
  }
  &__arrow {
    grid-column: 4/4;
    padding-top: 14.2rem;
    text-align: right;
    margin-right: 3.8rem;
  }
  &__policy {
    grid-column: 4/4;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
    text-align: left;
    display: flex;
    font-size: 1.2rem;
    font-family: $f-en;
    justify-content: space-between;
    small {
      font-size: 1.2rem;
    }
  }
}

@include mq(md) {
  .l-footer {
    grid-template-columns: 1fr 260px 1fr 346px 1fr;
  }
}

@include mq(to-sm) {
  .l-footer {
    grid-template-columns: 1fr 82% 1fr;
    & > * {
      grid-column: 2/2;
    }
    &__menu {
      grid-row: 1/1;
    }
    &__logo {
      padding-top: 5rem;
    }
    &__policy {
      flex-direction: column;
      gap: 1rem;
    }
    &__item {
      padding-left: 2rem;
    }

    &__address {
      font-size: 1.2rem;
      a[href^="tel:"] {
        pointer-events: auto;
      }
    }
  }
}
