@use "./../foundation/global" as *;

.l-hero {
  display: grid;
  // grid-template-columns: 1fr 160px 160px 400px 320px 1fr;
  grid-template-columns: 1fr 180px 180px 320px 360px 1fr;

  &__heading-wrapper {
    grid-column: 2/7;
    grid-row: 1/1;
    z-index: 1;
    margin-left: -1.5rem;
    // margin-top: 40rem;
    margin-top: 32.5%;
  }
  &__image {
    grid-column: 3/7;
    grid-row: 1/1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    picture {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__breadcrumbs {
    grid-column: 3/7;
    grid-row: 2/2;
    margin-top: 4.4rem;
    margin-right: $size;
    text-align: right;
    color: $c-gray;
    letter-spacing: 0.3rem;
    @include mq(sm) {
      font-size: fluid(12, 14, 320, 768);
      text-align: left;
      padding-inline: 2rem;
      line-height: 1.5;
    }
    a {
      margin-right: 1rem;
      text-transform: uppercase;
      text-decoration: underline;
      color: $c-black;
      &::after {
        content: "";
        display: inline-block;
        width: 1.5rem;
        border-bottom: 1px solid;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
      }
    }
  }
  &__breadcrumbs.--service {
    // position: absolute;
    bottom: -10%;
    right: 0;
    z-index: 3;
  }
}

@include mq(xl) {
  .l-hero {
    grid-template-columns: 1fr 160px 160px 1fr 320px 1fr;
    grid-template-columns: 1fr 180px 180px 320px 360px 1fr;
  }
}
@include mq(lg) {
}
@include mq(md) {
}
@include mq(sm) {
  .l-hero {
    grid-template-columns: $size 1fr $size;
    & > * {
      grid-column: 2/-2;
    }
    &__heading-wrapper {
      grid-column: 2/-2;
      grid-row: 1/1;
      margin-top: 15rem;
      margin-bottom: 4rem;
      margin-left: 1.5rem;
    }
    &__image {
      grid-column: 1/-1;
      grid-row: 2/2;
      width: 100%;
      // height: 280px;
    }
    &__breadcrumbs {
      grid-row: 3/3;
      margin-top: 2.4rem;
    }
  }
}

.l-hero--noimg {
  display: grid;
  grid-template-columns: $size5 1fr;
  &__heading-wrapper {
    grid-column: 2/2;
    margin-right: -10%;
    z-index: 1;
    margin-top: 40rem;
  }

  &__breadcrumbs {
    grid-column: 2/2;
    margin-top: 4rem;
    margin-right: $size;
    text-align: right;
    color: $c-gray;
    letter-spacing: 0.3rem;

    a {
      margin-right: 1rem;
      text-transform: uppercase;
      text-decoration: underline;
      color: $c-black;
      &::after {
        content: "";
        display: inline-block;
        width: 1.5rem;
        border-bottom: 1px solid;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
      }
    }
  }
  &__breadcrumbs.--service {
    position: absolute;
    bottom: -10%;
    right: 0;
    z-index: 3;
  }
}
@include mq(sm) {
  .l-hero--noimg {
    display: grid;
    grid-template-columns: $size 1fr $size;
    & > * {
      grid-column: 2/-2;
    }
    &__heading-wrapper {
      grid-column: 2/-2;
      margin-top: 15rem;
      margin-bottom: 2rem;
    }
  }
}
