@use "./../../foundation/global" as *;

.p-home-works {
  overflow: hidden;
  background-color: $c-white;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 400px 640px 1fr;
  @include mq(lg) {
    grid-template-columns: 1fr 320px 480px 1fr;
  }
  @include mq(md) {
    grid-template-columns: 1fr 200px 400px 1fr;
  }
  @include mq(sm) {
    grid-template-columns: 1fr 86% 1fr;
    padding-top: 5rem;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    background-color: $c-base-gray;
    margin-left: $size3;
    grid-column: 1/-1;
    grid-row: 1/4;
    @include mq(sm) {
    }
  }

  &__inner {
    background-color: $c-base-gray;
    margin-left: $size3;
    padding: 5rem 2rem 2rem 5rem;
  }

  &__title-wrapper {
    padding-top: 5rem;
    grid-column: 2/2;
    grid-row: 1/1;
  }
  &__sliderContainer {
    grid-column: 2/5;
    grid-row: 2/2;
    @include mq(sm) {
      grid-column: 2/2;
    }
  }
  .c-text-loop {
    height: 15rem;
    @include mq(sm) {
      height: 10rem;
    }
    &__text {
      font-size: 18rem;
      @include mq(sm) {
        font-size: 10rem;
      }
    }
    &__link {
      margin-top: 4rem;
      letter-spacing: 0.3rem;
    }
    grid-column: 1/-1;
    grid-row: 3/3;
  }
}

.p-home-works__sliderContainer {
  margin: 8rem 0 3.2rem 0;
  &:hover {
    cursor: none;
    @include mq(sm) {
      cursor: pointer;
    }
  }

  .p-works-category__card {
    width: 360px;
    a:hover {
      cursor: none;
      @include mq(sm) {
        cursor: pointer;
      }
    }
  }

  .splide__arrows {
    position: absolute;
    top: -4.4rem;
    right: 25rem;
    width: 10.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @include mq(md) {
      right: 10rem;
    }
    @include mq(sm) {
      width: 7.2rem;
      right: 5rem;
    }

    .splide__arrow {
      width: 1.7rem;
      height: 2.6rem;
      background: none;
      opacity: 1;
      transform: unset;
      &:disabled {
        opacity: 1;
      }
      svg {
        display: none;
      }
      &.splide__arrow--prev {
        position: relative;
        left: 0;
        background-image: url(../images/common/slider_arrow_prev.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &.splide__arrow--next {
        position: relative;
        right: 0;
        background-image: url(../images/common/slider_arrow_next.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

.p-home-works__slideNumber {
  position: absolute;
  top: -5rem;
  left: 40rem;
  @include mq(md) {
    left: 23rem;
  }
  @include mq(sm) {
    left: 0;
  }
}

.p-home-works__slideNumberInner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .-number {
    font-family: $f-en;
    font-size: 1.8rem;
  }
  .-slash {
    display: block;
    margin: 0.8rem;
    font-family: $f-en;
    font-size: 1.8rem;
  }
  .-all {
    font-family: $f-en;
    font-size: 1.8rem;
  }
}

.p-home-works__sliderTrack {
  &.splide__track {
    overflow: inherit;
  }
}
