@use "./../../foundation/global" as *;

.p-home-service {
  background-color: $c-white;
  padding-top: 20rem;
  display: grid;
  grid-template-columns: 1fr 360px 120px 80px 480px 1fr;
  @include mq(lg) {
    grid-template-columns: 1fr 360px 1fr 80px 400px 1fr;
  }
  @include mq(md) {
    grid-template-columns: 1fr 200px 40px 40px 320px 1fr;
  }
  @include mq(sm) {
    grid-template-columns: 1fr 86% 1fr;
    padding-top: 5rem;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    margin-top: 12rem;
    background-color: $c-base-gray;
    grid-column: 4/8;
    grid-row: 1/1;
    @include mq(sm) {
      grid-column: 2/4;
      grid-row: 2/2;
      margin-top: 0;
      margin-left: 5rem;
    }
  }

  &__heading {
    position: sticky;
    top: 20%;
    height: 60vh;
    grid-column: 2/2;
    grid-row: 1/1;
    @include mq(sm) {
      grid-column: 2/2;
      grid-row: 1/1;
      position: relative;
      height: 100%;
      top: 0%;
      margin-bottom: 5rem;
    }
  }

  &__cards {
    grid-column: 5/5;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 10rem;
    @include mq(sm) {
      grid-column: 2/2;
      grid-row: 2/2;
      margin-top: 5rem;
      padding-bottom: 5rem;
    }
  }
  &__card {
    position: relative;
    width: 100%;
  }
  &__card-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__card-title {
    position: absolute;
    left: -5%;
    bottom: 10%;
    display: inline-block;
    font-family: $f-base;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    @include mq(sm) {
      left: 5%;
      top: 10%;
    }
    .eng {
      font-family: $f-en;
      font-size: 3.6rem;
      letter-spacing: 0.1rem;
      line-height: 1.5;
      font-weight: bold;
      text-transform: none;
      z-index: 1;
      position: relative;
      @include mq(md) {
        font-size: 2.4rem;
      }
      @include mq(sm) {
      }
    }
  }
  &__card-deco {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 25%;
    height: 8rem;
    color: $c-white;
    font-weight: 400;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &.--archi {
      background-color: $c-main;
    }
    &.--civil {
      background-color: $c-accent;
    }
    &.--housing {
      background-color: $c-base;
    }
  }
  &__card-deco-text {
    margin-right: 1rem;
  }
}
