@use "./../../foundation/global" as *;

.p-home-news {
  margin-top: -1px;
  background-color: $c-white;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: 1fr 175px 690px 175px 1fr;
  @include mq(lg) {
    grid-template-columns: 1fr 90px 690px 90px 1fr;
  }
  @include mq(md) {
    grid-template-columns: 1fr 10px 690px 10px 1fr;
  }
  @include mq(sm) {
    grid-template-columns: 1fr 86% 1fr;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &__title-wrapper {
    grid-column: 2/6;
    grid-row: 1/1;
    margin-left: -3%;
    @include mq(sm) {
      grid-column: 2/2;
    }
  }
  &__card-container {
    grid-column: 3/3;
    grid-row: 2/2;
    @include mq(sm) {
      grid-column: 2/2;
    }
  }
  &__card-list {
  }
  &__card {
    a {
      display: flex;
      &:hover {
        color: $c-main;
        figure {
          overflow: hidden;
        }
        img {
          transform: scale(1.1);
        }
      }
    }
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: solid 1px $c-gray--lighter;
  }
  &__card-image {
    width: 186px;
    height: 142px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__card-text {
    margin-left: 3rem;
  }
  &__desc {
    margin-top: 3rem;
  }
  &__category {
    border: solid 1px;
    margin-left: 3rem;
    padding: 0.1em;
  }
}
