@use "./../../foundation/global" as *;

.u-only-sp {
  display: none;
  @include mq(sm) {
    display: block;
  }
}
.u-only-pc {
  display: block;
  @include mq(sm) {
    display: none;
  }
}

.c-button {
}

.--hidden {
  overflow: hidden;
}
